<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>LoginUIServlet</servlet-name>
    <servlet-class>Serverlet.loginServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUIServlet</servlet-name>
    <url-pattern>/app1/Login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginUIServlet2</servlet-name>
    <servlet-class>Serverlet.loginServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUIServlet2</servlet-name>
    <url-pattern>/app2/Login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ssoServer</servlet-name>
    <servlet-class>Serverlet.ssoServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ssoServer</servlet-name>
    <url-pattern>/ssoServer</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>identify</servlet-name>
    <servlet-class>Serverlet.identifyCenter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>identify</servlet-name>
    <url-pattern>/identify</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>loginDone</servlet-name>
    <servlet-class>Serverlet.loginDone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginDone</servlet-name>
    <url-pattern>/app1/LoginDone</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>Serverlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>loginDone2</servlet-name>
    <servlet-class>Serverlet.loginDone2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginDone2</servlet-name>
    <url-pattern>/app2/LoginDone</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>addUser</servlet-name>
    <servlet-class>Serverlet.addUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>Serverlet.toIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>toAddUser</servlet-name>
    <servlet-class>Serverlet.toAddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toAddUser</servlet-name>
    <url-pattern>/toAddUser</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>Filter.SessionFilter</filter-class>
    <init-param>
      <param-name>passUrl</param-name>
      <param-value>Login;</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/app1/LoginDone</url-pattern>
  </filter-mapping>


  <filter>
    <filter-name>loginFilter2</filter-name>
    <filter-class>Filter.SessionFilter</filter-class>
    <init-param>
      <param-name>passUrl</param-name>
      <param-value>Login;</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter2</filter-name>
    <url-pattern>/app2/LoginDone</url-pattern>
  </filter-mapping>
</web-app>
